In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

#Combine the data into a single dataset
#Assign Data frames
metadata_df = pd.DataFrame(mouse_metadata, columns=["Mouse ID", "Drug Regimen", "Sex", "Age_months", "Weight (g)"])
study_results_df= pd.DataFrame(study_results, columns=["Mouse ID", "Timepoint", "Tumor Volume (mm3)", "Metastatic Sites"])

#Merge data frames using outer merge that way it returns only data that matches
merge_df = pd.merge(metadata_df, study_results_df, on="Mouse ID", how="inner")

#Replace any space in columns with "_" (this will be useful for using duplicate function)
merge_df.columns = merge_df.columns.str.replace(' ', '_')

# Display the data table for preview
merge_df

,Mouse_ID,Drug_Regimen,Sex,Age_months,Weight_(g),Timepoint,Tumor_Volume_(mm3),Metastatic_Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
#Before beginning the analysis, check the data for any mouse ID with duplicate time points and remove any data associated with that mouse ID.
#First, I would like to see the amount of rows and columns in my merged data by using Shape function
merge_df.shape # 1893 rows, 8 columns
#Next, I will find the duplicate ROWS for Mouse_ID and Timepoint in merge_df data frame
merge_df.duplicated(subset=['Mouse_ID', 'Timepoint']).sum() #5 duplicates
#Locate the duplicates and mark them as TRUE except for the First occurance
merge_df.loc[merge_df.duplicated(subset=['Mouse_ID','Timepoint'], keep='first'), :]
#Drop duplicate except for first occurance 
merge_df.drop_duplicates(subset=['Mouse_ID','Timepoint'], keep='first').shape #now we have 1888 rows

(1888, 8)

In [3]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
# Assign the new DataFrame with the dropped Mouse_ID/Timepoint Data a variable
Data_dropped= merge_df.drop_duplicates(subset=['Mouse_ID','Timepoint'], keep='first')
#Count the number of duplicate Mouse IDs + assign variable
#Data_dropped.Mouse_ID.duplicated().sum() #We have 1639 Mouse_ID duplicates
Dropped_mice= Data_dropped.Mouse_ID.duplicated()
Dropped_mice.sum() 
Dropped_mice.loc[Dropped_mice.duplicated(keep='first')].sum()
#Drop Mouse ID duplicates
Dropped_mice.drop_duplicates().shape

(2,)